<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surf Log App</title>
    <h1> My Surf Session Logger</h1>
    <ul>
  <li><a href={{url_for('date_page')}}>Sessions by date </a></li>
  <li><a href={{url_for('spot_page')}}>Sessions by spot </a></li>
  <li><a href={{url_for('log_session')}}>Log a session </a></li>
    </ul>
    <h2> Features </h2>
    <h4> - Log each surf session by surf spot, date, and time in the water</h4>
    <h4> - Add attributes such as swell height, swell direction, wind speed, wind direction, and others </h4>
    <h4> - Lookup surf sessions by year, month, and day</h4>
    <h4> - Lookup surf sessions by spot to generate all session at a particular break </h4>
</head>
<body>

</body>
</html>